.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.nightMode .card {
  color: #ffffffe6;
  background-color: #2e2f31;
}

#hidden {
  display: none;
}

.nightMode .hidden {
  display: none;
}

.warning {
  display: none;
  border-radius: 16px;
  border: white dotted;
  max-width: 90%;
}

.nightMode .warning {
  border: #ffffffe6 dotted;
}

.close {
  margin-left: 90%;
}

.nightMode .close {
  color: #ffffffe6;
}

#error {
  color: red;
}

.nightMode #error {
  color: #ff4b4b;
}
